/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
    margin-right: 2%;
    border: 2px solid black;
}

/* type hierarchy- change for your project */
h1 {
  font-size: 3em; /* 50px */
    font-family: 'Brush Script MT', cursive;
    color: #000066;
    float: inherit;
}

h2 {
  font-size: 20px;
      font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

h3 {
  font-size: 1.75em /* 28px */
}

h4 {
  font-size: 1.125em /*18px */
}

body{
    background-color: #99CCFF;
    padding: 10px;
    font-size:20px;
}

.p{
    font-size: 12p;
}

.open{
    padding: 5%;
    border: 2px solid black;
    background-color: #FFE6FF ;
}

.ingredients{
    padding:2%;
    border: 2px solid black;
    background-color: #FFE6FF ;
    width: 30%;
    font-size:16px;
    font-family:'Brush Script MT',;
    float:left;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.steps{
    padding:2%;
    width: 65%;
    font-size:16px;
    font-family:'Brush Script MT',;
    float:right;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.page{
    background-color:#FFE6FF ;
    border: 3px solid black;
}

body{
    background-image: url(../img/eight_horns/eight_horns.png);
}


.about{
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    font-size: 14px;
    width:20%;
}

ul{
    list-style: none;
}
.ingredients{
    list-style: circle;
}

.intro{
    float:right;
    width:60%;
    padding:30px 30px 30px 30px;
    margin-right:75px;
    margin-top:20px;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    font-size: 18px;
}
.picture1{
    float: left;
}




    
/* =======================================
    author styles
    place your custom styles below here
========================================== */
























/* =======================================
    helper classes
    keep this at the bottom
========================================== */

/*
 * Clearfix: contain floats
 *
 * from HTML5 Boilerplate
 * shttps://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}