body{
    background-color: #99CCFF;
    padding: 10px;
    font-size:14px;
    margin:20%;
}

.background{
    background-color: #99CCFF;
    padding: 10px;
    font-size: 20px;
}

p{
    font-size: 14px;
}

.font{
    font-size:14px;
}